<div>
  <div>
    <h3>
      <%= @project.title %>
    </h3>
  </div>
  <div>
    <div>
      Posted on <%= @project.created_at %>
    </div>
    <% if @project.updated_at? && !(@project.updated_at === @project.created_at) %>
      <div>
        Edited on <%= @project.updated_at %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div>
      <%= link_to 'Edit', edit_project_path(@project) %>
      | <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
<hr>
<div>
  <%= @project.body %>
</div>
